{% extends 'layouts/main.html' %}

{% block layout_head %}

<!-- page specific scripts/css should be added in this block -->
<style>
.list-form  {
    min-height: 80px;
    height : 150px;
    overflow: auto;
    margin-top: 20px;
}
.list-form  li{
list-style:none;
margin:0px;
margin-left:20px;
margin: 20px 10px;


}
.list-form  li a{
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
</style>
{% endblock %}


{% block layout_page_title %}

{% endblock %}

{% block layout_page_buttons %}
<!-- page specific buttons here, buttons specify here will be added in the btn group -->

{% endblock %}

{% block layout_content %}
<!-- the page main content should be here -->
 <div class="list-form-welcome">
    <!-- page title here -->
    <h1>
    Welcome
    {% if user_directory_givenName   %}
        {{user_directory_givenName}}!
    {%  else %}
        {% if user_fullname %}
            {{ user_fullname }}
        {%  else %}
            {{ user_email }}
        {% endif %}
    {% endif %}
    </h1>

    <h2>
    {% if user_isGoogleAdmin %}
        Super Admin
      {% else %}
        {% if user_isAdmin %}
            Administrator
        {% else %}
            {% if user_isFormAdmin %}
                Form Administrator
            {% else %}
                {% if user_isFormApprover %}
                    Form Approver
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
    <h2>
</div>


<div class="well">


	{% if user_isFormAdmin %}

	<div class="list-form-container">

	    <h4><em><i class=icon-edit></i> <strong>Below are the list of Forms that you can Administrate : </strong></em></h4>
	    <div class=list-form>
	        <ul>
	            <ul>
	            {% for woolies_form in woolies_forms %}
	                {% if woolies_form.form_administrator and user_group %}
	                    {% for group in user_group %}
	                        {% if group.urlsafe() == woolies_form.form_administrator.urlsafe() %}
	                            <li><a href='/{{ woolies_form.list_url}}?key={{woolies_form.key.urlsafe()}}'><i class=icon-envelope></i> {{ woolies_form.name }}</a></li>
	                        {% endif %}
	                    {% endfor %}
	                {% endif %}
	            {% endfor %}
	            </ul>
	        </ul>
	    </div>
	</div>
	{% endif %}


	{% if user_isFormApprover %}

	<div class="list-form-container">

	    <h4><em><i class=icon-edit></i> <strong>Below are the list of Forms that you can manage : </strong></em></h4>
	    <div class=list-form>
	        <ul>
	            <ul>
	            {% for woolies_form in woolies_forms %}
	                {% if woolies_form.first_level_manager and user_group %}
	                    {% for group in user_group %}
	                        {% if group.urlsafe() == woolies_form.first_level_manager.urlsafe() %}
	                            <li><a href='/{{ woolies_form.list_url}}?key={{woolies_form.key.urlsafe()}}'><i class=icon-envelope></i> {{ woolies_form.name }}</a></li>
	                        {% endif %}

	                        {% if woolies_form.second_level_manager %}
	                            {% if group.urlsafe() == woolies_form.second_level_manager.urlsafe() %}
	                            <li><a href='/{{ woolies_form.list_url}}?key={{woolies_form.key.urlsafe()}}'><i class=icon-envelope></i> {{ woolies_form.name }}</a></li>
	                            {% endif %}
	                        {% endif %}
	                    {% endfor %}
	                {% endif %}
	            {% endfor %}
	            </ul>
	        </ul>
	    </div>
	</div>


	{% endif %}




	<div style="font-size:12px" class="complete-new-form" >
	    <p><i class=icon-hand-left></i> <strong>To complete a new form, please select Forms on the left.</strong> </p>
	</div>

	<fieldset>
		<table class="table table-striped table-hover" id="list">
			<thead>
				<tr>
					<th>Form type</th>
					<th>Action required</th>
					<th>Pending Approval</th>
					<th>Temporarily Approved</th>
					<th>Approved</th>
					<th>Rejected</th>
				</tr>

				<!--  Display form status -->
				{% for formStat in formStats %}
				    {% if formStat.locatedData() == True %}
						<tr>
							<td>{{formStat.formDescription}}</td>
							<td>{{formStat.numberOfActions}}</td>

							 {% for statusCount in formStat.statusCounts %}
							     <td>{{statusCount}}</td>
							 {% endfor %}
						</tr>
		      		{% endif %}
		      	{% endfor %}
			</thead>
		</table>
	</fieldset>
</div>

{% endblock %}
