{% extends 'layouts/main.html' %}

{% block layout_head %}
<!-- page specific scripts/css should be added in this block -->
{% endblock %}


{% block layout_page_title %}
<!-- page title here -->
Masters Cost Change Form
{% endblock %}

{% block layout_page_buttons %}
<!-- page specific buttons here, buttons specify here will be added in the btn group -->
<a class="btn-flat primary" href="../"><i class="icon-chevron-left"></i> Back</a>
<a class="btn-flat primary " href="/woolies_forms/add"><i class="icon-plus"></i> Add New Form</a>
{% endblock %}

{% block layout_content %}
<!-- the page main content should be here -->

{% endblock %}
