<html>
<head>
	<title>Woolies Forms List</title>
	<link rel="stylesheet" type="text/css" href="/ferris/css/bootstrap.min.css">
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script type="text/javascript" src="/ferris/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/css/jquery/ui/1_10_3/themes/smoothness/jquery-ui.css" />
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="/js/jquery/ui/1_10_3/jquery-ui.js"></script>
	<script src="../static/js/app/main/main.js"></script>
	<script type="text/javascript">

	</script>
	<script src="js/bootstrap.min.js"></script>
</head>
<body>
	<br>
	<div class="well container">

		<div class="btn-group pull-right">
			{%	if	user_isAdmin %}
			<button class="btn"  action="/manageusers/add" id="manage_users_btn">Manage Users</button>
			<button class="btn" id="manage_groups_btn">Manage Groups</button>
			{% endif %}

			{%	if	user_isGoogleAdmin %}
			<button class="btn" id="manage_forms_btn">Manage Forms</button>
			{% endif %}

			<button class="btn btn-primary " id="logout_btn">Logout {{ user_fullname }}</button>
			<input type=hidden value="{{ logout }}" id="logout_url" />
		</div>

		<br/>
		<hr/>
		<h2>Woolies Forms</h2>

		<table class="table table-striped table-hover">
		    <tr>
		          <td>Leave requests</td>
		          <td><a href="http://3-00.woolworths-forms.appspot.com/leave_requests">Leave Requests 41</a></td>
		    </tr>


			{% for form in woolies_forms %}
			<tr>
				<td>{{ form.name }}</td>
				<td>
					<a href="/{{ form.add_url }}?key={{ form.ID }}{{form.key.urlsafe()}}">Add</a>
				</td>
				<td>
					<a href="/{{ form.list_url }}?key={{form.key.urlsafe()}}">List</a>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>

</body>
</html>
