
* {
  font-family: courier;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  background-color: floralwhite;
}
#trans_note{
  z-index: -100;
  position: absolute;
  top: 50px;
}

.menu {
  width: 250px;
  height: 100%;
  position: fixed;
  background-color: seagreen;
  -webkit-transition: all 1s;
  transition: all 1s;
  left: 0;
  z-index: 50;
  overflow-y: auto;
  padding-bottom: 100px;
}

.menu.closed { left: -250px; }

#toggle {
  background-color: seagreen;
  height: 100%;
  min-height: 100%;
  width: 50px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0px;
  z-index: 25;
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
}

#toggle:hover { cursor: pointer; }

#toggle.closed {
  left: 0px;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: .3;
}

.content {
  width: 100%;
  height: 100%;
  margin-left: 0px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.content.closed .text {
  -webkit-transform: translateX(80px);
  -ms-transform: translateX(80px);
  transform: translateX(80px);
}

.text {
  width: 60%;
  margin: auto;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  margin-top: 80px;
  margin-bottom: 80px;
}


#highlighter{
  background-color: Transparent;
  margin-left: 70%;
  height: 80px;
  width: 360px;
 border-top: 1px solid #96d1f8;
    background-image: url("img/imageedit_6_7484705414.png");

  font-size: 22px;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);

  border: 0;
  cursor: pointer;
   vertical-align: middle;

}



koy {color: black; font-size: 15px; }

h1,
h2 { color: #444; }

p { color: black; font-size: 20px; }

p img {
  float: left;
  margin: 15px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 85px 0 0 40px;
  padding-right: 40px;
}

.menu ul li , a {
  color: floralwhite;
  font-size: 20px;
  margin: 0 0 5px 0;
  display: block;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  -webkit-transition: all .3s;
  transition: all .3s;
  text-decoration: none;
}

.menu ul li:hover ,a:hover{
  background-color: #3bb16f;
  cursor: pointer;
}



#wrapper {
  height: 100%;
  min-height: 100%;
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("img/board1.png");
}

#wrapper.closed { position: fixed; }

hr {
  border: none;
  height: 1px;
  background-color: seagreen;
  position: relative;
  width: 90%;
  margin-left: 0;
}

hr:before {
  content: "/";
  display: block;
  top: -8px;
  left: -5px;
  position: absolute;
  color: seagreen;
}
 *::-moz-selection {
 background-color: #1b5233;
 color: floralwhite;
}

*::selection {
  background-color: #1b5233;
  color: floralwhite;
}
