/*
 ----------------------------
 Demo
 ----------------------------
 */
.page-header {
    margin-top: 0;
}
h1, h2, h4 {
    font-family: 'Dosis', sans-serif;
}
h1 {
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 5px;
    float: left;
}
h1 > em {
    color: #fc5e5e;
    font-style: normal;
}
#version {
    float: left;
    margin: 37px 0 0 10px;
}
h2 {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 25px;
    clear: both;
}
h4 {
    margin-top: -5px;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    background-image: url("/img/bluepaint.png");
}
.share-github {
    float: left;
    margin-right: 10px;
}
.demo-content > h4 {
    margin-top: 25px;
}
.modal-demo {
    background-image: url("/img/board1.png");
    width: 600px;
    box-shadow: 0 8px 6px -6px black;
    text-align: left;
    display: none;
    border: 20px #D4936B ridge;
}
.title {
    padding: 10px 20px 15px 20px;
    line-height: 38px;
    font-size: 18px;
}
/*------ TEXT BOX --------------------*/
.text {
    padding: 0 0px 0px 0px;
}
.text-myne {
    border: 2px solid rgb(173, 204, 204);
    height: 31px;
    width: 250px;
    box-shadow: 0 0 27px rgb(204, 204, 204) inset;
    transition: 500ms all ease;
    padding: 3px 3px 3px 3px;
}
.text-myne:hover,
.text-myne:focus {
    width: 300px;
    transition: 500ms all ease;
    background-size: 25px 25px;
    background-position: 96% 62%;
    padding: 3px 3px 3px 3px;
}

@media screen and (max-width: 500px) {
    .text-myne {
        width: 170px;;
    }
    .text-myne:hover,
    .text-myne:focus {
    width: 190px;
    transition: 500ms all ease;
    background-size: 25px 25px;
    background-position: 96% 62%;
    padding: 3px 3px 3px 3px;
                    }
}

/* ------- BUTTON BLUE ----------- */
.blue_button {
    font-size: 16px;
    font-family: Arial;
    font-weight: normal;
    text-decoration: inherit;
    padding: 5px 12px;
    text-shadow: 1px 1px 0px #287ace;
    -webkit-box-shadow: inset 1px 1px 0px 0px #cae3fc;
    -moz-box-shadow: inset 1px 1px 0px 0px #cae3fc;
    box-shadow: inset 1px 1px 0px 0px #cae3fc;
    cursor: pointer;
    color: #ffffff;
    display: inline-block;
    background: -webkit-linear-gradient(90deg, #4197ee 5%, #79bbff 100%);
    background: -moz-linear-gradient(90deg, #4197ee 5%, #79bbff 100%);
    background: -ms-linear-gradient(90deg, #4197ee 5%, #79bbff 100%);
    background: linear-gradient(180deg, #79bbff 5%, #4197ee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#79bbff",endColorstr="#4197ee");
}

.blue_button:hover {
    background: -webkit-linear-gradient(90deg, #79bbff 5%, #4197ee 100%);
    background: -moz-linear-gradient(90deg, #79bbff 5%, #4197ee 100%);
    background: -ms-linear-gradient(90deg, #79bbff 5%, #4197ee 100%);
    background: linear-gradient(180deg, #4197ee 5%, #79bbff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4197ee",endColorstr="#79bbff");
}

.blue_button:active {
    position:relative;
    top: 1px;
}
/* --- red BUTTON ---------- */
.red_button {
    font-size: 16px;
    font-family: Arial;
    font-weight: normal;
    text-decoration: inherit;
    padding: 5px 12px;
    text-shadow: 1px 1px 0px #810E05;
    -webkit-box-shadow: inset 1px 1px 0px 0px #f5978e;
    -moz-box-shadow: inset 1px 1px 0px 0px #f5978e;
    cursor: pointer;
    color: #ffffff;
    display: inline-block;
    background: -webkit-linear-gradient(90deg, #c62d1f 5%, #f24537 100%);
    background: -moz-linear-gradient(90deg, #c62d1f 5%, #f24537 100%);
    background: -ms-linear-gradient(90deg, #c62d1f 5%, #f24537 100%);
    background: linear-gradient(180deg, #f24537 5%, #c62d1f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f24537",endColorstr="#c62d1f");
}

.red_button:hover {
    background: -webkit-linear-gradient(90deg, #f24537 5%, #c62d1f 100%);
    background: -moz-linear-gradient(90deg, #f24537 5%, #c62d1f 100%);
    background: -ms-linear-gradient(90deg, #f24537 5%, #c62d1f 100%);
    background: linear-gradient(180deg, #c62d1f 5%, #f24537 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c62d1f",endColorstr="#f24537");
}

.red_button:active {
    position:relative;
    top: 1px;
}
/* ------  pinb container -------- */
.pinb_container{
background: url("/img/sticky-note-yellow-folded-corner-md.png");
background-size: 80px 60px;
background-repeat: no-repeat;
background-position: center;
line-height: 70px;
padding-top: 0px;
}



.myclose {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout > h4,
.bs-callout-support {
    margin-top: 0;
}
.bs-callout:not(.bs-callout-support) > p:last-of-type {
    margin-bottom: 0;
}
.bs-callout-info {
    border-left-color: #D9EDF7;
}
#forkme {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}
#custompopover {
    width: 265px;
}
.table-popover > tbody > tr:hover td {
    background-color: #D9EDF7;
}
.footer {
    font-size: 11px;
    text-align: center;
    padding-bottom: 20px;
}
.download {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
}
#gitfork {
    display: none;
}
@media only screen and (max-device-width: 480px) {
    #forkme {
        display: none;
    }
    #gitfork {
        display: block;
    }
}


