                <!-- <div id="draggable" class="myInvisibleDiv">
                    <p>o</p><textarea id="notepad" class="sticky ui-draggable" rows="4" cols="50" class="notes-div"></textarea>
                </div> -->

<br><br><br><br><br><br>

      <p><img id="trans_note" src="public/img/aa.png"></p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      A simple note-taking application.</p>
      <p>This app let you keep your notes safe online in an organized and categorized manner.
      You can bring it anytime, anywhere and access it through your computer or even in mobile
      as long as you have internet connection.</p>
      <p><img src="public/img/pointleft.gif">  </p>
      <br><koy>Click the BAR in the left side for easy navigation.</koy><br>
      <p><br><br>
      powered by:<br>
      <!-- <a href="https://cloud.google.com/"><img src="public/img/gcloud_1_33.png"></a> -->
      </p>

<!--
<br>
<br>
<div ng-controller="personController">
                        <div ng-if="accountList">
                            <div ng-repeat="(key, value) in accountList">
                                <div ng-bind="key" class="pinb_container"></div>
                            </div>
                        </div>
                        <div ng-if="!accountList">No Pinboard yet!</div>
                  </div>
 -->
