{% extends 'layouts/main.html' %}

{% block layout_head %}
<!-- page specific scripts/css should be added in this block -->
    <link rel="stylesheet" src="/css/themes/smoothness/jquery-ui.css" />
    <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
    <script type='text/javascript' src='/js/utils.js'></script>
    <script>
        $(document).ready(function(){
            addDate();
        });
        function addDate(){
            date = new Date();
            var month = date.getMonth()+1;
            var day = date.getDate();
            var year = date.getFullYear();

            document.getElementById('date').value = day + '-' + month + '-' + year;
        }
    </script>
{% endblock %}


{% block layout_page_title %}
<!-- page title here -->
Buyer's New Line Declaration Form
{% endblock %}

{% block layout_page_buttons %}
<!-- page specific buttons here, buttons specify here will be added in the btn group -->

{% endblock %}

{% block layout_content %}
<div class="form-description fd-form-view" id="form-description">
    <p><i class="icon-pencil"></i>When a new product is going to be brought in to MASTERS.</p>
</div>
<form class="form-horizontal" action="{{ upload_url }}" method="post" enctype="multipart/form-data">
    <div class="well">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="Buyer_or_BAA_Name">Buyer's Email Address:</label>
                <div class="controls">
                    <input type="text" class="span8" id="Buyer_or_BAA_Name" name="Buyer_or_BAA_Name" value="{{user}}" required readonly/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Merchandise_Manager">Merchandise Manager:</label>
                <div class="controls">
                    <input type="email" class="span8 global-address" id="Merchandise_Manager" name="Merchandise_Manager" single-select="True" required />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="datepicker">Date:</label>
                <div class="controls">
                    <div class="input-append">
                        <input class="span8" type="text" value="" name="Date" id="date" required readonly>
                        <span class="add-on"> <i class="icon-th"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Number_of_Items">Number of Item(s):</label>
                <div class="controls">
                    <input type="text" class="numbersOnly span2" id="Number_of_Items" name="Number_of_Items" required />
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend></legend>
            <div class="control-group">
                <label class="control-label" for="ANLPV">All New Lines Passed Validation:</label>
                <div class="controls">
                    <select class="span4 selectpicker" id="ANLPV" name="All_New_Lines_Passed_Validation" required>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                        <option value="N/A">N/A</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="QAA">QA Acceptance:</label>
                <div class="controls">
                    <select class="span4 selectpicker" id="QAA" name="QA_Acceptance" required>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                        <option value="N/A">N/A</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="MSDS">MSDS Report Loaded onto Chemwatch for all Applicable Lines:</label>
                <div class="controls">
                    <select class="span4 selectpicker" id="MSDS" name="MSDS_Report_Loaded_onto_Chemwatch_for_all_Applicable_Lines" required>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                        <option value="N/A">N/A</option>
                    </select>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend></legend>
            <table width=70% align="left">
                <tr>
                    <td>
                        Include Any Comments Below:
                    </td>
                </tr>
                <tr>
                    <td colspan=2>
                        <textarea rows="5" class="span10" name="Include_Any_Comments_Below" style="resize:none"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        Please attach the New Line Submission Sheet to this Form Below:
                    </td>
                </tr>
                <tr>
                    <td>

                        <input class="span6 field-type-blob-key-field" id="Please_attach_the_New_Line_Submission_Sheet_to_this_Form_Below" name="Please_attach_the_New_Line_Submission_Sheet_to_this_Form_Below" type="file"></td>
                </tr>
            </table>
        </fieldset>
         <div class="control-group">
                <div align="right">
                    <input type="submit" class="btn btn-primary" value="Create Request">
                    <input type="button" class="btn" value="Cancel" id="backHistory">
                </div>
            </div>
    </div>
    {% include "includes/global_address_modal.html" %}
</form>
{% endblock %}